@font-face {
    font-family: Poppins;
    src: url('PoppinsRegular.ttf');
}

@font-face {
    font-family: Poppins Bold;
    src: url('PoppinsBold.ttf');
}

@font-face {
    font-family: Poppins Medium;
    src: url('PoppinsMedium.ttf');
}

@font-face {
    font-family: Poppins Light;
    src: url('PoppinsLight.ttf');
}

/** Overall Theme **/
.background {
    -fx-background-color: #FAF9FA;
    background-color: #FAF9FA;
}

.app {
    -fx-text-fill: #211551;
    -fx-font-family: 'Poppins';
    -fx-border-width: 0 0 0 0;
}

/** Menu Bar **/
#menuBar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #EBEAEE transparent;
    -fx-border-insets: 0 0 -3 0;
}

.menuBarButton {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 13pt;
    -fx-padding: 10 0 10 0;
    -fx-background-color: transparent;
    -fx-text-fill: #B8B7C5;
}

.menuBarButton:hover {
    -fx-text-fill: #211551;
    -fx-cursor: hand;
}

.menuBarButton.active {
    -fx-text-fill: #6842E4;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #6842E4 transparent;
}

/** User Input Box **/
#commandTextField {
    -fx-background-color: #EDEDED;
    -fx-font-weight: 100;
    -fx-padding: 12 10 12 10;
    -fx-font-family: "Courier";
    -fx-font-size: 13pt;
    -fx-text-fill: #6842E4;
    -fx-prompt-text-fill: #6842E4;
}

/** Result Box **/
#resultDisplay {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #EBEAEE transparent;
    -fx-font-size: 12pt;
    -fx-text-fill: #211551;
}

#resultDisplay .content {
    -fx-background-color: transparent;
}

/** Split Pane **/
.split-pane {
    -fx-box-border: transparent;
}

.split-pane-divider {
   -fx-background-color: transparent;
   -fx-padding: 0 0 0 0;
}

/** List Panel **/
#listView, .list-cell {
    -fx-text-fill: #211551;
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
}

.list-cell {
    -fx-padding: 10, 0, 10, 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent transparent transparent;
}

.list-cell:filled:hover {
    -fx-cursor: hand;
    -fx-border-color: transparent transparent #EBEAEE transparent;
}

.list-cell:selected {
    -fx-font-family: 'Poppins Medium';
    -fx-border-color: transparent transparent #6842E4 transparent;
}

.list-cell:selected:filled:hover {
    -fx-font-family: 'Poppins Medium';
    -fx-border-color: transparent transparent #6842E4 transparent;
}


.list-cell:selected .eventName, .eventId, .moduleName, .moduleId, .deadlineName{
    -fx-text-fill: #211551;
}

.list-cell:selected .moduleCode {
    -fx-font-family: 'Poppins';
}

.titleName {
    -fx-font-size: 14pt;
    -fx-font-family: 'Poppins Bold';
    -fx-opacity: 1.0;
}

.eventName, .moduleName {
    -fx-padding: 0 10 0 0;
}

.moduleCode {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-text-fill: white;
    -fx-background-color: #6842E4;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 10pt;
}

.moduleCode.hidden {
    -fx-background-color: transparent;
}

.eventDuration {
    -fx-padding: 0 0 0 10;
}

.eventLocation, .eventDuration, .moduleAcadYear {
    -fx-text-fill: #ADABBC;
}

/** Right Panel **/
/** Details **/
#slideEventCard {
    -fx-font-size: 12pt;
    -fx-padding: 0 0 0 10;
}

.slideEventCardName {
    -fx-font-size: 18pt;
    -fx-font-family: 'Poppins Bold';
}

.slideEventVenue, .slideEventDuration {
    -fx-font-family: 'Poppins Light';
}

.slideEventDescription {
    -fx-font-family: 'Poppins Medium';
}

.completionStatus {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-text-fill: white;
    -fx-background-color: #EE117F;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 10pt;
}

.completionStatus.allComplete {
    -fx-background-color: #00AF8C;
}

.completionStatus.hidden {
    -fx-background-color: transparent;
}

.completionStatus.allComplete.hidden {
    -fx-background-color: transparent;
}

/** Right Panel List **/
#deadlineListView {
    -fx-background-color: transparent;
}

.check-box {
    -fx-border-radius: 15;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: #FFFFFF;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #FFFFFF;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: #00AF8C;
}

/** Scroll Bar **/
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #EDEDED;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/** App Bottom Status Footer **/
.status-bar {
    -fx-background-color: #6842E4;
}

#saveLocationStatus {
    -fx-padding: 5 0 5 20;
    -fx-text-fill: #FFFFFF;
}
