/** Overall Theme **/
.background {
    -fx-background-color: #FAF9FA;
    background-color: #FAF9FA;
    -fx-text-fill: #211551;
}

/** Menu Bar **/
#menuBar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #EBEAEE transparent;
    -fx-border-insets: 0 0 -3 0;
}

.menuBarButton {
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-padding: 10 0 10 0;
    -fx-background-color: transparent;
    -fx-text-fill: #B8B7C5;
}

.menuBarButton:hover {
    -fx-text-fill: #211551;
    -fx-cursor: hand;
}

.menuBarButton.active {
    -fx-text-fill: #6842E4;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #6842E4 transparent;
}

/** User Input Box **/
#commandTextField {
    -fx-background-color: #EDEDED;
    -fx-font-weight: 100;
    -fx-padding: 12 10 12 10;
    -fx-font-family: "Courier";
    -fx-font-size: 13pt;
    -fx-text-fill: #6842E4;
    -fx-prompt-text-fill: #6842E4;
    -fx-margin: 10 0 0 0;
}

/** Result Box **/
#resultDisplay {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent transparent #EBEAEE transparent;
    -fx-font-size: 12pt;
}

#resultDisplay .content {
    -fx-background-color: transparent;
}
